/* line 1, ../sass/main.scss */
body {
  background: #D9D9D9 !important;
}

@media screen and (min-width: 1700px) {
  /* line 6, ../sass/main.scss */
  .container {
    width: 1670px !important;
  }
}
/* line 11, ../sass/main.scss */
.logo {
  display: block;
  margin: 15px auto;
}

/* line 16, ../sass/main.scss */
.nom-salle {
  display: -webkit-flex;
  display: flex;
  margin-left: calc(100% / 9);
  text-align: center;
}
/* line 21, ../sass/main.scss */
.nom-salle .debussy {
  -webkit-flex: 1;
  flex: 1;
}
/* line 25, ../sass/main.scss */
.nom-salle .lumiere {
  -webkit-flex: 7;
  flex: 7;
}
/* line 29, ../sass/main.scss */
.nom-salle .container-salle > div {
  background: black;
  color: orange;
  margin-bottom: 10px;
  padding: 5px;
  margin-left: 15px;
  text-transform: uppercase;
}

/* line 39, ../sass/main.scss */
.container-date {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 15px;
}
/* line 43, ../sass/main.scss */
.container-date .date {
  background: no-repeat center url("/images/background-calendrier.png") white;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  font-weight: bold;
  width: calc(100% / 9);
}
/* line 54, ../sass/main.scss */
.container-date .seance {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
  flex: 1;
}
/* line 60, ../sass/main.scss */
.container-date .seance > *:first-child {
  -webkit-flex: 1;
  flex: 1;
}
/* line 64, ../sass/main.scss */
.container-date .seance > *:last-child {
  -webkit-flex: 7;
  flex: 7;
}

/* line 72, ../sass/main.scss */
.container-seances {
  display: -webkit-flex;
  display: flex;
  height: 100%;
}
/* line 76, ../sass/main.scss */
.container-seances .seance-info {
  background: white;
  cursor: pointer;
  -webkit-flex: 1;
  flex: 1;
  margin-left: 15px;
}
/* line 82, ../sass/main.scss */
.container-seances .seance-info.blocked {
  background: gray;
  cursor: auto;
}
/* line 86, ../sass/main.scss */
.container-seances .seance-info.reserved {
  background: orange;
}
/* line 89, ../sass/main.scss */
.container-seances .seance-info.empty {
  background: no-repeat center url("/images/background-pas-de-seances.png") transparent;
  cursor: auto;
}
/* line 92, ../sass/main.scss */
.container-seances .seance-info.empty > * {
  display: none !important;
}
/* line 96, ../sass/main.scss */
.container-seances .seance-info .titre {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 101, ../sass/main.scss */
.container-seances .seance-info .realisateur {
  margin-bottom: 10px;
}
/* line 104, ../sass/main.scss */
.container-seances .seance-info .info {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 109, ../sass/main.scss */
.container-seances .seance-info .info .horaire {
  margin-right: 10px;
  padding-left: 25px;
  position: relative;
}
/* line 113, ../sass/main.scss */
.container-seances .seance-info .info .horaire:before {
  background: no-repeat center url("/images/picto-horaire.png");
  content: '';
  height: 20px;
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
}
/* line 125, ../sass/main.scss */
.container-seances .seance-info .info .dispo {
  padding-left: 25px;
  position: relative;
}
/* line 128, ../sass/main.scss */
.container-seances .seance-info .info .dispo:before {
  content: '';
  height: 20px;
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
}
/* line 139, ../sass/main.scss */
.container-seances .seance-info .info .dispo.taken:before {
  background: no-repeat center url("/images/picto-demande-en-attente.png");
}
/* line 145, ../sass/main.scss */
.container-seances .seance-info .info .dispo.blocked:before, .container-seances .seance-info .info .dispo.free:before {
  background: no-repeat center url("/images/picto-pas-de-demande.png");
}
/* line 150, ../sass/main.scss */
.container-seances .seance-info .info .high_on {
  margin-top: 10px;
  width: 100%;
}
/* line 153, ../sass/main.scss */
.container-seances .seance-info .info .high_on:before {
  background: red;
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  margin: auto;
  width: 10px;
}

/*# sourceMappingURL=main.css.map */
